$font-stack: 'Helvetica Neue',Helvetica,Arial,sans-serif;

.video-js .vjs-big-play-button {
    z-index: 2;
}
.video-js .vjs-control-bar {
    z-index: 2;
}

.video-js .s3bubble-meta-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container {
    margin: 3%;
    width: 50%;
    padding: 0;
    text-shadow: 0 -1px 0 #252525;
    text-align: left;
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transform: scale(1);
    -webkit-transition: opacity 350ms cubic-bezier(.23,1,.32,1),-webkit-transform 350ms cubic-bezier(.23,1,.32,1);
    -o-transition: opacity 350ms cubic-bezier(.23,1,.32,1),-o-transform 350ms cubic-bezier(.23,1,.32,1);
    -moz-transition: transform 350ms cubic-bezier(.23,1,.32,1),opacity 350ms cubic-bezier(.23,1,.32,1),-moz-transform 350ms cubic-bezier(.23,1,.32,1);
    transition: transform 350ms cubic-bezier(.23,1,.32,1),opacity 350ms cubic-bezier(.23,1,.32,1);
    transition: transform 350ms cubic-bezier(.23,1,.32,1),opacity 350ms cubic-bezier(.23,1,.32,1),-webkit-transform 350ms cubic-bezier(.23,1,.32,1),-moz-transform 350ms cubic-bezier(.23,1,.32,1),-o-transform 350ms cubic-bezier(.23,1,.32,1);
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -moz-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    font-size: 2.5em;
}

.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container h5 {
    font-family: $font-stack;
	font-size: .6em;
    font-weight: 200;
    color: #fff;
    margin: 0;
    text-shadow: 0 -1px 0 #252525;
    max-width: 30em;
    line-height: 2em;
}


.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container h1 {
    font-family: $font-stack;
    font-weight: 500;
    font-size: 2em;
    letter-spacing: 0.1vw;
    color: #fff;
    margin: 0;
}

.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container p {
    font-family: $font-stack;
    font-weight: normal;
    font-weight: 200;
    font-size: 1.2vw;
    color: #fff;
    text-shadow: 0 -1px 0 #252525;
    line-height: 1.3em;
    width: 100%;
    letter-spacing: 0.1vw;
    max-width: 30em;
}

.s3bubble-meta-overlay-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.s3bubble-meta-overlay-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 2s linear;
}