$font-stack: 'Helvetica Neue',Helvetica,Arial,sans-serif;

.video-js .vjs-big-play-button {
    z-index: 2;
}
.video-js .vjs-control-bar {
    z-index: 2;
}

.video-js .s3bubble-meta-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container {
    margin: 3%;
    width: 50%;
    padding: 0;
    text-shadow: 0 -1px 0 #252525;
    text-align: left;
}

.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container h5 {
    font-family: $font-stack;
	font-size: 1.5vw;
    font-weight: 200;
    color: #fff;
    margin: 0;
    text-shadow: 0 -1px 0 #252525;
    max-width: 30em;
    margin: 0 0 0.4em 0;
    padding: 0;
}


.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container h1 {
    font-family: $font-stack;
    font-weight: 500;
    font-size: 4vw;
    letter-spacing: 0.1vw;
    color: #fff;
    margin: 0 0 0.2em 0;
    padding: 0;
}

.video-js .s3bubble-meta-overlay .s3bubble-meta-overlay-container p {
    font-family: $font-stack;
    font-weight: normal;
    font-weight: 200;
    font-size: 1.4vw;
    color: #fff;
    text-shadow: 0 -1px 0 #252525;
    line-height: 1.3em;
    width: 100%;
    max-width: 30em;
    margin: 0;
    padding: 0;
}

.s3bubble-meta-overlay-visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}

.s3bubble-meta-overlay-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 2s linear;
}